<!doctype html>
<html lang="en">
    <head>
        <title>Course Planner</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.typekit.net/old0sur.css">

    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main class="container" id="app">
            <section id="home" class="row text-center justify-content-center align-content-center mx-3" style="min-height:100vh">
                    <div class="col-md-5">
                        <h1 class="my-4">Course Planner</h1>
                        <p>Welcome to Course Planner! Ever feel overwhelmed during course selection season? Here, you can receive course recommendations and 
                        craft your own sample schedule to help determine what courses you will take in your next year at Marlboro High School.</p>
                        <button type="button" class="btn btn-success m-1" @click="nextPage()">Get Started</button>
                        <a class="btn btn-success m-1" href="favorites.html">Go to Favorites</a>
                    </div>
            </section>
            <section id="coursesTaken+Major" class="row text-center justify-content-center align-content-center mx-3" style="min-height:100vh" hidden>
                <!-- grade selection -->
                <div class="gradeSelect row justify-content-center">
                    <h2 class="mb-4">Select your grade:</h2>
                    
                    <div class="col-sm-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="9th" value="9" v-model.number="grade">
                            <label class="form-check-label" for="9th">9th Grade</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="10th" value="10" v-model.number="grade">
                            <label class="form-check-label" for="10th">10th Grade</label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="11th" value="11" v-model.number="grade">
                            <label class="form-check-label" for="11th">11th Grade</label>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        <button type="button" style="width: 100px;" class="btn btn-success my-3" @click="toTableSelection()">Next</button>
                    </div>
                </div>

                <!-- class selection -->

            <div class="row justify-content-center classes" hidden>
                    <h2 class="my-4">Select All the Classes You've Taken/Are Currently Taking:</h2>
                    
                        <table>
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Courses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- english branch -->
                                <tr>
                                    <td>English</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in englishCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                    
                                </tr>  
                                <!-- math branch -->
                                <tr hidden>
                                    <td>Mathematics</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in mathCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                            <!-- Science branch -->
                                <tr hidden>
                                    <td>Science</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in scienceCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                    
                                </tr>
                                <!-- social studies branch -->
                                <tr hidden>
                                    <td>Social Studies</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in socialStudiesCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                                <!-- foreign language -->
                                <tr hidden>
                                    <td>World Language</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in languageCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                                <!-- financial literacy -->
                                <tr hidden>
                                    <td>Financial Literacy</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in finLitCourse">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                                <!-- 21st century -->
                                <tr hidden>
                                    <td>21st Century Life & Careers</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in century21ElectiveCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                                <!-- art -->
                                <tr hidden>
                                    <td>Visual & Performing Arts</td>
                                    <td>
                                        <br>
                                        <div class="form-check d-flex justify-content-center mb-2" v-for="course in artCourses">
                                            <input class="form-check-input" type="checkbox" :value="course" :id="course.id" v-model="takenCourses"/>
                                            <label class="form-check-label" :for="course.id"> {{course.name}} </label>
                                        </div>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <button type="button" class="btn btn-success m-1 toPrevTable" style="width:100px;" @click="prevTableSelection()" hidden>Previous</button>
                    <button type="button" class="btn btn-danger m-1 backToGradeSelection" style="width:200px;" @click="backToGradeSelection()">Go To Grade Selection</button>
                    <button type="button" class="btn btn-primary m-1 toNextTable" style="width:100px;" @click="nextTableSelection()">Next</button>
                    <button type="button" class="btn btn-success my-3 toMajors" style="width:200px;" @click="nextPage()" hidden>Next (Click again)</button>
                </div>
        </section>
                
            <section id="info" hidden>
                <!-- major selection -->
                <div class="row text-center justify-content-center majors mt-5">
                    <h2 class="my-4">Select your intended major/primary interest:</h2>
                    <div class="col-md-6">
                    <select class="form-select" aria-label="Default select example" v-model="major">
                        <option disabled value="">Select your major/interest:</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Business/Management">Business/Management</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Biology">Biology</option>
                        <option value="Nursing">Nursing</option>
                        <option value="Engineering">Engineering</option>
                        <option value="Education">Education</option>
                        <option value="Economics">Economics</option>
                        <option value="Political Science">Political Science</option>
                        <option value="Communications">Communications</option>
                        <option value="English/Literature">English/Literature</option>
                        <option value="History">History</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Physics">Physics</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Art/Design">Art/Design</option>
                        <option value="Environmental Science">Environmental Science</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Health Sciences/Public Health">Health Sciences/Public Health</option>
                    </select>
                    </div>
                    <br>
                </div>

                <h2 class="text-center mt-5">Current Statistics</h2>
                <div class="row text-center justify-content-center mx-3 mb-4">
                    <h3>Current Grade: {{ grade }}th Grade</h3>
                    <h3>Next Grade: {{ Number(grade) + 1 }}th Grade</h3>
                    <h3>Major: {{ major }} </h3>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <h2 class="text-center">All Courses Taken</h2>
                        <ul>
                            <li v-for="course in takenCourses" :key="course">{{ course.name }}</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h2 class="text-center">Current Requirements Fulfilled</h2>
                        <ul>
                            <li>English: {{ engCounter }} / {{ mandatoryEngCourses }}
                                <p v-if="mandatoryEngCourses - engCounter > 1">{{ mandatoryEngCourses - engCounter }} years left</p>
                                <p v-else-if="mandatoryEngCourses - engCounter == 1">{{ mandatoryEngCourses - engCounter }} year left</p>
                                <p v-else>You have completed all English requirements.</p>
                            </li>
                            <li>Math: {{ mathCounter }} / {{ mandatoryMathCourses }}
                                <p v-if="mandatoryMathCourses - mathCounter > 1">{{ mandatoryMathCourses - mathCounter }} years left</p>
                                <p v-else-if="mandatoryMathCourses - mathCounter == 1">{{ mandatoryMathCourses - mathCounter }} year left</p>
                                <p v-else>You have completed all Math requirements.</p>
                            </li>
                            <li>Science: {{ sciCounter }} / {{ mandatorySciCourses }}
                                <p v-if="mandatorySciCourses - sciCounter > 1">{{ mandatorySciCourses - sciCounter }} years left</p>
                                <p v-else-if="mandatorySciCourses - sciCounter == 1">{{ mandatorySciCourses - sciCounter }} year left</p>
                                <p v-else>You have completed all Science requirements.</p>  
                            </li>
                            <li>History: {{ histCounter }} / {{ mandatoryHistCourses }}
                                <p v-if="mandatoryHistCourses - histCounter > 1">{{ mandatoryHistCourses - histCounter }} years left</p>
                                <p v-else-if="mandatoryHistCourses - histCounter == 1">{{ mandatoryHistCourses - histCounter }} year left</p>
                                <p v-else>You have completed all History requirements.</p>
                            </li>
                            <li>Language: {{ langCounter }} / {{ mandatoryLangCourses }}
                                <p v-if="mandatoryLangCourses - langCounter > 1">{{ mandatoryLangCourses - langCounter }} years left</p>
                                <p v-else-if="mandatoryLangCourses - langCounter == 1">{{ mandatoryLangCourses - langCounter }} year left</p>
                                <p v-else>You have completed all Language requirements.</p>
                            </li>
                            <li>Art: {{ artCounter }} / {{ mandatoryArtCourses }}
                                <p v-if="mandatoryArtCourses - artCounter > 0">{{ mandatoryArtCourses - artCounter }} year left</p>
                                <p v-else>You have completed the Art requirement.</p>
                            </li>
                            <li>Financial Literacy: {{ financialLitCounter }} / {{ mandatoryFinancialLitCourses }}
                                <p v-if="mandatoryFinancialLitCourses - financialLitCounter > 0">{{ mandatoryFinancialLitCourses - financialLitCounter }} year left</p>
                                <p v-else>You have completed the Financial Literacy requirement.</p>
                            </li>
                            <li>21st Century Elective: {{ centuryElectiveCounter }} / {{ mandatoryCenturyElectiveCourses }}
                                <p v-if="mandatoryCenturyElectiveCourses - centuryElectiveCounter > 0">{{ mandatoryCenturyElectiveCourses - centuryElectiveCounter }} year left</p>
                                <p v-else>You have completed the 21st Century Elective requirement.</p>
                            </li>
                        </ul>
                </div>
                    <div class="col-md-4 col-sm-12">
                        <h2 class="text-center">Recommended Courses Based on Major</h2>
                        <ul>
                            <li v-for="rec in recommendedCourses" :key="rec">{{ rec }}</li>
                        </ul>
                    </div>
                    <div class="row text-center justify-content-center mt-4">
                        <div class="col-4 col-sm-12">
                            <button type="button" class="btn btn-success m-1" @click="previousPage()">Previous</button>
                            <button type="button" class="btn btn-success m-1" @click="nextPage()">Next</button>
                        </div>
                    </div>
                </div>
                
            </section>
            <section id="sampleSchedule" class="row text-center justify-content-center align-content-center mx-3" style="min-height:100vh" hidden>
                <table>
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(subject, index) in subjects">
                            <td>{{subject}}</td>
                            <td>
                                <select class="form-select" aria-label="Default select example" v-model="sampleCourses[index]">
                                    <option disabled value="">Select Course</option>
                                    <option :value="theCourse.name" v-for="theCourse in filterBySubject(subject)" :key="theCourse.id">{{theCourse.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-4 col-sm-12">
                    <button type="button" class="btn btn-primary m-1" @click="previousPage()">Previous</button>
      
                    <button type="button" class="btn btn-primary m-1" @click="addFavorite()">Save to Favorites</button>
               
                    <a role="button" class="btn btn-primary m-1" href="favorites.html">Go to Favorites</a>
                </div>
            </section>

            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <script src="script.js"></script>
    </body>
</html>
