tr, td, th {
    border:2px solid black;
    padding:8px 4px 8px 4px;
    max-width:100px;
}

body
{
    font-family: "baga", sans-serif;
font-weight: 400;
font-style: normal;
}
h2 {
    font-weight:bold;
}