tr, td, th {
    border:2px solid black;
    padding:8px 4px 8px 4px;
    max-width:100px;
}
h1 {
    font-family: "sweet-and-salty", sans-serif;
font-weight: 400;
font-style: normal;
}
body
{
    font-family: "baga", sans-serif;
font-weight: 400;
font-style: normal;
}