tr, td, th {
    border:2px solid black;
    padding:8px 4px 8px 4px;
    max-width:100px;
}

body
{
    font-family: "baga", sans-serif;
font-weight: 400;
font-style: normal;
background-image: url(imgs/notebook\ bg.webp);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
h2 {
    font-weight:bold;
}